@{
    ViewBag.Title = "Tamirhane";
}
<div class="jumbotron">
    <h1>Tamirhane</h1>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">

        <p>Bir otomotiv tamirhanesinin günlük işlemlerinin bir kısmını süreç olarak ilerletmesi hedeflenmektedir. Tamirhane;</p>
        <ol>
            <li>
                Tüm müşterilerinin kaydını tutabilmeli (İsim soyisim, telefon, email)
            </li>
            <li>
                Tüm müşterilerine ait araçların kaydını tutabilmeli (Plaka, Marka, Model, Model Yılı(2016, 2015 gibi))
            </li>
            <li>
                Müşteri ve araç seçimi yaparak yeni randevu oluşturabilmeli (müşteri ve araç bilgilerine ek olarak sadece randevu tarih ve saatini yazabilmeli)
            </li>
            <li>
                Mevcut randevulardan birini onaylayarak iş emri oluşturabilmeli, ya da randevusuz iş emri kaydı oluşturabilmeli.
                <ol>
                    <li>
                        İş emri randevusuz oluşturulur ise randevuda alınan (randevu tarih ve saati hariç) tüm bilgiler ekranda kabul ediliyor olmalıdır.
                    </li>
                </ol>
            </li>
            <li>
                Müşterilerin, araçlarının, randevuların ve iş emirlerinin listelendiği birer ekran hazırlanmalı.
            </li>
        </ol>
    </div>
</div>